  body {
    margin: 0 auto;
    padding: 0;
    background: #1A2980; 
    background: linear-gradient(to right, #26D0CE, #1A2980); 
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  }

  button {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .board {
    text-align: center;
  }

  .header {
    background-color: rgba(38, 38, 179, 0.4);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .header h1 {
    display: inline;
    margin: 20px;
    color: #bfc4c7;
  }

  .header h1:hover {
    color: #fff;
    cursor: pointer;
  }

  .create-column {
    background: #bfc4c7;
    background-image: linear-gradient(to bottom, #bfc4c7, #acb1b5);
    border: none;
    border-radius: 5%;
    font-family: Arial;
    color: #fff;
    font-size: 30px;
    height: 35px;
    width: 35px;
    padding: 0;
    margin: 10px;
    text-decoration: none;
  }

  .create-column:hover {
    background: #424547;
    background-image: linear-gradient(to bottom, #424547, #b9c3c9);
    text-decoration: none;
    cursor: pointer;
  }

  .create-column_add, .create-column_cancel {
    display: none;
  }

  .add-column {
    background: #bfc4c7;
    background-image: linear-gradient(to bottom, #bfc4c7, #acb1b5);
    border: none;
    border-radius: 5%;
    font-family: Arial;
    color: #fff;
    font-size: 10px;
    height: 15px;
    width: 15px;
    padding: 0;
    text-decoration: none;
  }

  .add-column:hover {
    background: #424547;
    background-image: linear-gradient(to bottom, #424547, #b9c3c9);
    text-decoration: none;
    cursor: pointer;
  }

  .column-name {
    height: 35px;
    margin-bottom: 5px;
    border: none;
    display: none;
  }
 
  input, select  {  
    font-size: 160%;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  }

  .column-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .column {
    margin: 10px;
    width: 300px;
    min-height: 500px;
    border-radius: 1%;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
  }

  .column-title {
    text-align: left;
    width: 75%;
    font-size: 25px;
    padding: 0;
    margin: 1px;
    word-wrap: break-word;
  }

  .column-nameChange {
    position: relative;
    bottom: 401px;
    left: 45px;
    height: 25px;
    width: 80%;
    border: none;
  }

  .btn-delete {
    background: #bfc4c7;
    background-image: linear-gradient(to bottom, #752630, #923d49);
    opacity: 0.6;
    border: none;
    border-radius: 5%;
    font-family: Arial;
    color: #fff;
    font-size: 15px;
    height: 25px;
    width: 25px;
    margin: 10px; 
  
  }
  .btn-delete:hover {
    background: #424547;
    background-image: linear-gradient(to bottom, #520410, #7c061b);
    text-decoration: none;
    cursor: pointer;
  }

  .add-card {
    background: #bfc4c7;
    background-image: linear-gradient(to bottom, #bfc4c7, #acb1b5);
    border: none;
    font-family: Arial;
    color: #fff;
    font-size: 20px;
    width: 100%;
    padding: 2px;
    
    text-decoration: none;
    cursor: pointer;
  }

  .add-card:hover {
    background: #424547;
    background-image: linear-gradient(to bottom, #424547, #b9c3c9);
  } 

  .card {
    width: 280px;
    background-color: #bfc4c7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
  .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .card-description {
    display: inline-block;
    max-width: 75%;
    word-break:break-word;
    padding-left: 5px;
  }

  .column-card-list {
    min-height: 300px;
    width: 100%;
    padding: 2px;
    display: flex;
    flex-direction: column;
  }

  .column-card-list li {
    min-height: 20px;
    margin: 5px;
    text-align: left;
    list-style-type: none;
    font-weight: bold;
    cursor: move;
    vertical-align:middle;
    line-height:20px;
  }

